parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/CouldNotFindStateMachineField.php
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/FieldWithoutCast.php
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 4
			path: src/Exceptions/InvalidStateMachineConfig.php
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/InvalidTransition.php
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/UnknownState.php
